header {
  background-color: var(--darkblue);
  height: 75vh;
  
}

header .container {
  display: flex;
  gap: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .container .headerTypo
{
  padding: 0 20px;
}
header .container .headerTypo h1 {
  font-size: 36px;
  margin-bottom: 15px;
}
.letter
{
  color: #46b0ca;
  font-size: 40px;
}
header .container .headerTypo p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ffffff9d;
}

.btn {
  display: inline-block;
  padding: 0;
}

.explore-btn {
  color: white;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #46b0ca;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.explore-btn:hover
{
  transform: scale(1.05);
  background-color: #3a98b2;
}
  
.explore-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: left 0.5s ease-in-out;
}

.explore-btn:hover::before {
  left: 0;
}

header .container .illustartion img {
  animation: moveUpDown 2s infinite ease-in-out;
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}