.info {
  text-align: center;
  padding: 100px 20px;
}

.info .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.info h1 {
  margin-bottom: 80px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
  margin-top: 30px;
  color: var(--black);
  border-bottom: 2px solid var(--lightblue2);
  display: inline-block;
  margin-bottom: 60px;
}
.info .container div {
  background: var(--grayBg);
  padding: 30px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.info .container div:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.info .container div h2 {
  color: var(--black);
  font-size: 22px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.info .container div p {
  color: var(--black);
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  opacity: 70%;
}