.numbers {
  background-color: var(--grayBg);
  height: 230px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers .container {
  display: flex;
}

.numbers .container .countNumbers {
  display: flex;
  gap: 20px;
  margin-right: 15px;
}
.numbers .container .countNumbers span {
  font-size: 32px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--black);
}
.numbers .container .countNumbers div {
  color: var(--darkGray);
  font-size: 18px;
  margin-right: 1.5rem;
}
.numbers .container .spans {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.numbers .container .spans span {
  display: flex;
  margin-right: 30px;
  color: var(--black);
}
.numbers .container .spans img {
  margin-right: 10px;
}
