footer {
  min-height: 350px;
}
footer .footer-top {
  height: 250px;
  padding: 20px;
  padding-top: 50px;
  background-color: var(--darkblue);
  color: #fff;
  position: relative;
}
footer .footer-top .container div {
  width: 70%;
}
footer .footer-top .container div h1 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
footer .footer-top .container div p {
  font-size: 16px;
  opacity: 90%;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--black);
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
footer .footer-bottom ul {
  list-style: none;
  display: flex;
}
footer .footer-bottom ul li a {
  text-decoration: none;
  color: var(--black);
  margin-right: 1rem;
}
