:root {
  --yellow: #fcd980;
  --black: #282938;
  --darkblue2: #101131;
  --darkblue: #1c1e53;
  --lightblue: #2405f2;
  --gray: #f4f6fc;
  --grayBg: #eef4fa;
  --darkGray: #283836;
  --babyblue:#909abc;
  --darkBg: #101131; 
  --darkText: #d2eaf8; 
  --darkGray: #333333; 
  --darkBorder: #444444; 
  --lightblue2:#00ccff;
  --darkFooterBg: #222222; 
}
body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
